@page "/User/Signin"
@using ConsumerApplication.Data
@using ConsumerApplication.Data.Data
@using ConsumerApplication.Models

@inject DatabaseContext _db

@if (_user != null) {
    <p>@_user.Email</p>
}

@code {
    private User _user = new User();

    protected override void OnInitialized()
    {
        _user.Userid = 1;
        UserData ud = new UserData(_db);

        _user = ud.GetUser(_user);
    }

}