<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Consumer Application</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Products">
                <span class="bi" aria-hidden="true"></span> Shop
            </NavLink>
        </div>
        <div class="nav-item px-3" style="position: absolute; width: 100%; bottom: 0;">
            <NavLink class="nav-link" href="/User/SignIn">
                <img src="https://i.imgur.com/vP57uVu.png" width="35px" height="35"/>
                <span class="bi" aria-hidden="true"></span> Sign Out
            </NavLink>
        </div>
    </nav>
</div>