@inherits LayoutComponentBase

@inject NavigationManager _navManager

@if (_navManager.Uri.Contains("customer"))
{
<div class="page">
    <div class="sidebar">
        <CustomerNavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/shopping-cart"><img src = "https://i.imgur.com/pKv1Stv.png"
                                          onmouseover="this.src = 'https://i.imgur.com/cn2L4xH.png'"
                                          onmouseleave="this.src = 'https://i.imgur.com/pKv1Stv.png'"
                                          style="width: 45px;height: 45px;"/></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
}

else if (_navManager.Uri.Contains("employee"))
{
    <div class="page">
        <div class="sidebar">
            <EmployeeNavMenu/>
        </div>

        <main>
            <div class="top-row px-4">
                <a href="/shopping-cart"><img src = "https://i.imgur.com/pKv1Stv.png"
                                              onmouseover="this.src = 'https://i.imgur.com/cn2L4xH.png'"
                                              onmouseleave="this.src = 'https://i.imgur.com/pKv1Stv.png'"
                                              style="width: 45px;height: 45px;"/></a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}

else if (_navManager.Uri.Contains("user"))
{
    <div class="main">    
        <div class="content px-4">
            @Body
        </div>
    </div>
}
