/* _content/ConsumerApplication/Components/Layout/CustomerNavMenu.razor.rz.scp.css */
.navbar-toggler[b-dz9r0lxsdr] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-dz9r0lxsdr] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-dz9r0lxsdr] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-dz9r0lxsdr] {
    font-size: 1.1rem;
}

.bi[b-dz9r0lxsdr] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-dz9r0lxsdr] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-dz9r0lxsdr] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-dz9r0lxsdr] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-dz9r0lxsdr] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-dz9r0lxsdr] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-dz9r0lxsdr] {
        padding-bottom: 1rem;
    }

    .nav-item[b-dz9r0lxsdr]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-dz9r0lxsdr]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-dz9r0lxsdr]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-dz9r0lxsdr] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-dz9r0lxsdr] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-dz9r0lxsdr] {
        display: none;
    }

    .nav-scrollable[b-dz9r0lxsdr] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/ConsumerApplication/Components/Layout/EmployeeNavMenu.razor.rz.scp.css */
.navbar-toggler[b-5e1joq7juq] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-5e1joq7juq] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-5e1joq7juq] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-5e1joq7juq] {
    font-size: 1.1rem;
}

.bi[b-5e1joq7juq] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-5e1joq7juq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-5e1joq7juq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-5e1joq7juq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-5e1joq7juq] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-5e1joq7juq] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-5e1joq7juq] {
    padding-bottom: 1rem;
}

.nav-item[b-5e1joq7juq]  .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item[b-5e1joq7juq]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-5e1joq7juq]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-5e1joq7juq] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-5e1joq7juq] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-5e1joq7juq] {
        display: none;
    }

    .nav-scrollable[b-5e1joq7juq] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/ConsumerApplication/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-k27o02hudr] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-k27o02hudr] {
    flex: 1;
}

.sidebar[b-k27o02hudr] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-k27o02hudr] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-k27o02hudr]  a, .top-row[b-k27o02hudr]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-k27o02hudr]  a:hover, .top-row[b-k27o02hudr]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-k27o02hudr]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-k27o02hudr] {
        justify-content: space-between;
    }

    .top-row[b-k27o02hudr]  a, .top-row[b-k27o02hudr]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-k27o02hudr] {
        flex-direction: row;
    }

    .sidebar[b-k27o02hudr] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-k27o02hudr] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-k27o02hudr]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-k27o02hudr], article[b-k27o02hudr] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-k27o02hudr] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-k27o02hudr] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/ConsumerApplication/Components/Pages/Customer/Home.razor.rz.scp.css */
#search-container[b-q0ibz6nvqb]{
    margin-bottom: 20px;
}

#product-card-container[b-q0ibz6nvqb]{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
/* _content/ConsumerApplication/Components/Pages/Customer/OrderPage.razor.rz.scp.css */
.card[b-ukkuz9wf9b] {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: left;
    padding: 10px;
    font-family: arial;
}
/* _content/ConsumerApplication/Components/Pages/Customer/ProductPage.razor.rz.scp.css */
.productcontainer[b-tu2leow12f] {
    margin: auto;
}
.left-column[b-tu2leow12f] {
    width: 50%;
    float: left;
}
.left-column img[b-tu2leow12f]{
    width: 100%;
    height: 100%;
}
.right-column[b-tu2leow12f] {
    width: 50%;
    float: left;
    padding-left: 20px;
}
.cart-btn[b-tu2leow12f] {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}
.cart-btn:hover[b-tu2leow12f] {
    background-color: #64af3d;
}
/* _content/ConsumerApplication/Components/Pages/Customer/ReusableComponents/ProductCard.razor.rz.scp.css */
.card[b-gtb0hrc9xz] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
    &:nth-child(3n+1) {
        grid-column: 1;
    }
    &:nth-child(3n+2)[b-gtb0hrc9xz] {
        grid-column: 2;
    }
    &:nth-child(3n+3)[b-gtb0hrc9xz] {
        grid-column: 3;
    }
}

.price[b-gtb0hrc9xz] {
    color: grey;
    font-size: 22px;
}

.card button[b-gtb0hrc9xz] {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover[b-gtb0hrc9xz] {
    opacity: 0.7;
}
/* _content/ConsumerApplication/Components/Pages/Customer/ShoppingCart.razor.rz.scp.css */
/* Global "table" column settings */
.product-image[b-kew7itromm] { float: left; width: 20%; }
.product-details[b-kew7itromm] { float: left; width: 37%; }
.product-price[b-kew7itromm] { float: left; width: 12%; }
.product-quantity[b-kew7itromm] { float: left; width: 10%; }
.product-removal[b-kew7itromm] { float: left; width: 9%; }
.product-line-price[b-kew7itromm] { float: left; width: 12%; text-align: right; }


/* This is used as the traditional .clearfix class */
.group[b-kew7itromm]:before,
.group[b-kew7itromm]:after {
    content: '';
    display: table;
}
.group[b-kew7itromm]:after {
    clear: both;
}
.group[b-kew7itromm] {
    zoom: 1;
}


/* Apply dollar signs */
.product .product-price[b-kew7itromm]:before, .product .product-line-price[b-kew7itromm]:before, .totals-value[b-kew7itromm]:before {
    content: '$';
}


/* Body/Header stuff */
body[b-kew7itromm] {
    padding: 0px 30px 30px 20px;
    font-weight: 100;
}

h1[b-kew7itromm] {
    font-weight: 100;
}

/* Column headers */
.column-labels[b-kew7itromm] {
    label {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .product-image[b-kew7itromm], .product-details[b-kew7itromm], .product-removal[b-kew7itromm] {
        text-indent: -9999px;
    }
}


/* Product entries */
.product[b-kew7itromm] {
    min-height: 90px;
    margin-bottom: 20px;
    padding-bottom: 10px;

    .product-image {
        text-align: center;
        img {
            width: 100px;
        }
    }

    .product-details[b-kew7itromm] {
        .product-title {
            margin-right: 20px;
        }
        .product-description[b-kew7itromm] {
            margin: 5px 20px 5px 0;
            line-height: 1.4em;
        }
    }

    .product-quantity[b-kew7itromm] {
        input {
            width: 40px;

        }
    }

    .remove-product[b-kew7itromm] {
        border: 0;
        padding: 4px 8px;
        background-color: #c66;
        color: #fff;
        font-size: 12px;
        border-radius: 3px;
    }

    .remove-product:hover[b-kew7itromm] {
        background-color: #a44;
    }
}


/* Totals section */
.totals[b-kew7itromm] {
    .totals-item {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;

        label {
            float: left;
            clear: both;
            width: 79%;
            text-align: right;
        }

        .totals-value[b-kew7itromm] {
            float: right;
            width: 21%;
            text-align: right;
        }
    }
}

.checkout[b-kew7itromm] {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover[b-kew7itromm] {
    background-color: #494;
}
/* _content/ConsumerApplication/Components/Pages/Employee/AddProduct.razor.rz.scp.css */
.productcontainer[b-u5hgwo2lxa] {
    margin: auto;
}
.left-column[b-u5hgwo2lxa] {
    width: 50%;
    float: left;
}
.left-column img[b-u5hgwo2lxa]{
    width: 100%;
    height: 100%;
}
.right-column[b-u5hgwo2lxa] {
    width: 50%;
    float: left;
    padding-left: 20px;
}
.cart-btn[b-u5hgwo2lxa] {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}
.cart-btn:hover[b-u5hgwo2lxa] {
    background-color: #64af3d;
}
/* _content/ConsumerApplication/Components/Pages/Employee/Home.razor.rz.scp.css */
#search-container[b-67692wj59s]{
    margin-bottom: 20px;
}

#product-card-container[b-67692wj59s]{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
/* _content/ConsumerApplication/Components/Pages/Employee/ProductPage.razor.rz.scp.css */
.productcontainer[b-20l6cdyfhi] {
    margin: auto;
}
.left-column[b-20l6cdyfhi] {
    width: 50%;
    float: left;
}
.left-column img[b-20l6cdyfhi]{
    width: 100%;
    height: 100%;
}
.right-column[b-20l6cdyfhi] {
    width: 50%;
    float: left;
    padding-left: 20px;
}
.cart-btn[b-20l6cdyfhi] {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}
.cart-btn:hover[b-20l6cdyfhi] {
    background-color: #64af3d;
}
/* _content/ConsumerApplication/Components/Pages/Employee/ReusableComponents/EmployeeProductCard.razor.rz.scp.css */
.card[b-3y99ar1t81] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
    &:nth-child(3n+1) {
        grid-column: 1;
    }
    &:nth-child(3n+2)[b-3y99ar1t81] {
        grid-column: 2;
    }
    &:nth-child(3n+3)[b-3y99ar1t81] {
        grid-column: 3;
    }
}

.price[b-3y99ar1t81] {
    color: grey;
    font-size: 22px;
}

.card button[b-3y99ar1t81] {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover[b-3y99ar1t81] {
    opacity: 0.7;
}
/* _content/ConsumerApplication/Components/Pages/Employee/ReusableComponents/WarehouseProductCardView.razor.rz.scp.css */
.card[b-4zmrxkhllw] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
    &:nth-child(3n+1) {
        grid-column: 1;
    }
    &:nth-child(3n+2)[b-4zmrxkhllw] {
        grid-column: 2;
    }
    &:nth-child(3n+3)[b-4zmrxkhllw] {
        grid-column: 3;
    }
}

.price[b-4zmrxkhllw] {
    color: grey;
    font-size: 22px;
}

.card button[b-4zmrxkhllw] {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover[b-4zmrxkhllw] {
    opacity: 0.7;
}
/* _content/ConsumerApplication/Components/Pages/Employee/Warehouses.razor.rz.scp.css */
label[b-5nu5ap8hbe] {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

select[b-5nu5ap8hbe] {
    font-size: 0.9rem;
    padding: 2px 5px;
}
/* _content/ConsumerApplication/Components/Pages/User/Register.razor.rz.scp.css */
button[b-wkxsqihrgi] {
    background-color: cornflowerblue;
    width: 100%;
    color: white;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

input[type=text][b-wkxsqihrgi], input[type=password][b-wkxsqihrgi] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid dodgerblue;
    box-sizing: border-box;
}

button:hover[b-wkxsqihrgi] {
    opacity: 0.7;
}

.container[b-wkxsqihrgi] {
    padding: 25px;
    background-color: lightgray;
}

p[b-wkxsqihrgi]{
    margin-top: 20px;
}
/* _content/ConsumerApplication/Components/Pages/User/SignIn/SignIn.razor.rz.scp.css */
button[b-ajld6irrdk] {
    background-color: cornflowerblue;
    width: 100%;
    color: white;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

input[type=text][b-ajld6irrdk], input[type=password][b-ajld6irrdk] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid dodgerblue;
    box-sizing: border-box;
}

button:hover[b-ajld6irrdk] {
    opacity: 0.7;
}

.container[b-ajld6irrdk] {
    padding: 25px;
    background-color: lightgray;
}

p[b-ajld6irrdk]{
    margin-top: 20px;
}
