button[b-wkxsqihrgi] {
    background-color: cornflowerblue;
    width: 100%;
    color: white;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

input[type=text][b-wkxsqihrgi], input[type=password][b-wkxsqihrgi] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid dodgerblue;
    box-sizing: border-box;
}

button:hover[b-wkxsqihrgi] {
    opacity: 0.7;
}

.container[b-wkxsqihrgi] {
    padding: 25px;
    background-color: lightgray;
}

p[b-wkxsqihrgi]{
    margin-top: 20px;
}