.productcontainer[b-20l6cdyfhi] {
    margin: auto;
}
.left-column[b-20l6cdyfhi] {
    width: 50%;
    float: left;
}
.left-column img[b-20l6cdyfhi]{
    width: 100%;
    height: 100%;
}
.right-column[b-20l6cdyfhi] {
    width: 50%;
    float: left;
    padding-left: 20px;
}
.cart-btn[b-20l6cdyfhi] {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}
.cart-btn:hover[b-20l6cdyfhi] {
    background-color: #64af3d;
}